.action {
    grid-row: 4;

    display: grid;
    column-gap: 5px;
    grid-template-columns: 30px 20% 1fr;
}

.action>* {
    grid-row: 1;
    margin: auto;
}

.actiontype {
    left: 3rem;
}

.options {
    grid-column: 3 / 4;
    margin: auto 0;
    display: grid;
    column-gap: 5px;
    grid-auto-flow: column;
}

.actionDice {
    left: 7.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.effects {
    grid-row: 2;
    grid-column: 2 / 4;
    list-style: none;
    margin: auto 0;
    padding: 0;
}